# Replace 'CHANGE_ME_KEY' with your Ergo Node API Key
ORACLE_NODE_API_KEY=CHANGE_ME_KEY

# Optional - uncomment below if needed:
# ERGNODE_HEAP=4G    # Defaults to 4G
# GRAFANA_USER=admin # Defaults to 'admin'
# GRAFANA_PASS=admin # Change on first login if default 'admin'
# CCARCH=x86_64      # Defaults to x86_64 - options: x86_64 or aarch64
